@import url('https://fonts.googleapis.com/css?family=VT323');

@font-face{
  font-family: VT323;
  src: url(https://fonts.googleapis.com/css?family=VT323);
}

#userInput {
  width: 350px;
  border: 6px;
  border-style: solid;
  border-radius: 4px;
  border-color: #2C2C2C;
  color: #2C2C2C;
  font-size: 16px;
}

.btn {
    border: solid 6px #2C2C2C ;
    width: 101px;
    font-size: 20px;
    font-family: VT323, serif;
    margin-top: 12px;
    background: white;
    text-align: center;
}
.clearSearch {
    vertical-align: bottom;
    margin-left: -3px;
}

.failtext {
  font-size: 30px;
  color: #2C2C2C;
  text-align: center;
  font-family: VT323, serif; 
  border:5px; 
  border-style:solid; 
  border-color:#2C2C2C; 
  background: #FFFFFF; 
  border-radius: 10px;
  margin: 15px
}

.wikiInfo {
  border:5px; 
  border-style:solid; 
  border-color:#2C2C2C; 
  padding: 15px;
  margin: 10px;
  background: #FFFFFF; 
  border-radius: 10px;
  text-align: left;
}

a {
    color: inherit;
}

a:hover {
  color: #D06200;
}

.wikiViewer {
  font-family: VT323, serif;
  font-size: 80px;
  color: #2C2C2C;
}

.wikiSnip {
  font-family: "lato", serif;
  font-size: 16px
}

.wikiTitle {
  font-family: VT323, serif;
  font-size: 30px;
}

body {
  background:#007A71;
  height: 100%;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 80px;
  color: #2C2C2C;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #2C2C2C;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #2C2C2C;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #2C2C2C;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #2C2C2C;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #2C2C2C;
  }
}
